src/main/xsd/compact trace.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

   <xs:element name="trace">
      <xs:complexType>
	     <xs:sequence>
		    <xs:element ref="name" minOccurs="1"/>
            <xs:element ref="event" minOccurs="0" maxOccurs="unbounded"/>  			
		 </xs:sequence>	  
	  </xs:complexType>   
   </xs:element>
   
   <xs:element name="event" type="xs:string"/>
   <xs:element name="name" type="xs:string"/>
 </xs:schema>